// Styles for the ArXiv Academy project

.app__contextImage {
    padding: 0 1rem;
}
.app__contextImage img {
    display: block;
    max-height: 2.143rem;
    max-width: 100%;
    width: auto;
    height: auto;
}

.pkpFormGroup__localeGroup {
    display: flex;
    align-items: flex-end;
}
.pkpFormGroup__locale--isVisible {
    flex:1;
}
